<footer class="container">
    <div class="row">
        <div class="col s12 center-align">Made with &hearts; by Kieran O'Neill</div>

        <div class="col s12 center-align">
            <div class="footer__social-link">
                <a href="https://github.com/kieranroneill/toshzo" target="_blank">
                    <img class="svg-inject" src="assets/svgs/github.svg"/>

                </a>

            </div>

        </div>

    </div>

</footer>