<!DOCTYPE html>
<html>
    <head>
        {{> meta}}

        <link rel="stylesheet" href="css/style.css">

    </head>

    <body>
        <main>
            {{{body}}}

        </main>

        <script type="text/javascript" src="js/bundle.js"></script>

    </body>

</html>