<div class="container">
    <div class="row">
        <h3 class="center-align">Welcome to Toshzo!</h3>

    </div>

    <div class="row">
        <p class="center-align">Click the button below to be taken to <a href="https://monzo.com" target="_blank">Monzo</a> to authorise your account.</p>


    </div>

    <div class="row">
        <div class="center-align">
            <a class="waves-effect waves-light btn" href="">Authorise Monzo</a>

        </div>

    </div>

</div>