<div class="container">
    <div class="row">
        <h3 class="center-align">Welcome to Toshzo!</h3>

    </div>

    <div class="row">
        <p class="center-align">Enter the super secret code to access Toshzo.</p>


    </div>

    <div class="row">
        <form id="superSecretForm" class="col s12">
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input id="superSecret" type="password">
                    <label for="superSecret">Super Secret</label>

                </div>

            </div>

            <div class="row">
                <div class="center-align">
                    <button class="btn waves-effect waves-light" type="submit">
                        Submit
                        <i class="material-icons right">send</i>
                    </button>

                </div>

            </div>

        </form>

    </div>

</div>
