<div class="container">
    <div class="row">
        <div class="center-align">
            <i class="material-icons large">thumb_up</i>

        </div>

    </div>

    <div class="row">
        <h3 class="center-align">You're all set!</h3>

    </div>

    <div class="row">
        <p class="center-align"><a href="https://monzo.com" target="_blank">Monzo</a> and <a href="https://toshl.com" target="_blank">Toshl</a> have been successfully connected. Whenever you spend with your Monzo card, the transaction will appear on Toshl.</p>

    </div>

</div>