.error-page {
  &__container {
    width: 100%;
    height: 100%;
  }

  &__caption {
    position: absolute;
    top: 2rem;
    left: 3rem;
    color: white;
    z-index: 10;
  }

  &__background {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #014479;
    z-index: 1;

    img {
      max-width: 100%;
    }
  }
}