html,
button,
input,
select,
textarea,
.pure-g [class *= 'pure-u'] {
  @include tablet {
    font-size: 90%;
  }

  @include desktop {
    font-size: 100%;
  }

  font-family: 'Roboto', sans-serif;
  font-size: 70%;
  font-weight: 400;
}
