@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/roboto/Roboto-Regular-webfont.eot'),
  url('/assets/fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
  url('/assets/fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
  url('/assets/fonts/roboto/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: normal;
  src: url('/assets/fonts/roboto/Roboto-RegularItalic-webfont.eot'),
  url('/assets/fonts/roboto/Roboto-RegularItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/roboto/Roboto-RegularItalic-webfont.woff') format('woff'),
  url('/assets/fonts/roboto/Roboto-RegularItalic-webfont.ttf') format('truetype'),
  url('/assets/fonts/roboto/Roboto-RegularItalic-webfont.svg#RobotoRegularItalic') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/roboto/Roboto-Bold-webfont.eot'),
  url('/assets/fonts/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/roboto/Roboto-Bold-webfont.woff') format('woff'),
  url('/assets/fonts/roboto/Roboto-Bold-webfont.ttf') format('truetype'),
  url('/assets/fonts/roboto/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: bold;
  src: url('/assets/fonts/roboto/Roboto-BoldItalic-webfont.eot'),
  url('/assets/fonts/roboto/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/roboto/Roboto-BoldItalic-webfont.woff') format('woff'),
  url('/assets/fonts/roboto/Roboto-BoldItalic-webfont.ttf') format('truetype'),
  url('/assets/fonts/roboto/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/roboto/Roboto-Light-webfont.eot'),
  url('/assets/fonts/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/roboto/Roboto-Light-webfont.woff') format('woff'),
  url('/assets/fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'),
  url('/assets/fonts/roboto/Roboto-Light-webfont.svg#RobotoLight') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url('/assets/fonts/roboto/Roboto-LightItalic-webfont.eot'),
  url('/assets/fonts/roboto/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/roboto/Roboto-LightItalic-webfont.woff') format('woff'),
  url('/assets/fonts/roboto/Roboto-LightItalic-webfont.ttf') format('truetype'),
  url('/assets/fonts/roboto/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
}
